*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Noto Serif', serif;
    height: 100%;
}

/* +++++++++++++++++++++++++++++++ HEADER +++++++++++++++++++++++++++++++ */

.header .nav.classes {
    border-bottom: 2px solid black;
}

/* +++++++++++++++++++++++++++++++ Opener +++++++++++++++++++++++++++++++ */

.opener hr {
    border: 2px solid aqua;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 100px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.subtext {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 2;
    color: gray;
    margin-bottom: 40px;
}

/* +++++++++++++++++++++++++++++++ CLASSES +++++++++++++++++++++++++++++++ */

.content {
    margin-bottom: 100px;
    max-width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
}

/*
.package {
    margin: 30px;
    background-color: black;
    color: white;
    height: 50px;
}

.package p {
    margin-top: 40px;
    padding-top: 10px;
    margin-left: 20px;
}
*/

/* ??????????????????? Collapse ???????????????????? */

button.accordion{
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.2s;
  margin-top: 12px;
  border: 2px solid black;
}

button.accordion:hover{
  background-color: rgba(255,255,255,0.3);
  color: black;
  border: 2px solid black;
}

button.accordion.active{
  background-color: darkgray;
  color: black;
  border-radius: 8px 8px 0 0;
  margin: 4px 0 0;
 }

button.accordion:after {
  content: '\02795';
    color: white;
  float: right;
}

button.accordion.active:after {
  content: "\2796";
    color: black;
    float: right;
}

div.panel{
  background-color: black;
  color: lightgray;
  border-radius:0  0 8px 8px;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: 0.3s;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

div.panel.show{
  opacity: 1;
  max-height: 1000px;
  padding: 8px;
  margin: 0px 0 4px;
}

/* ??????????????????? content ???????????????????? */



.flex {
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
    justify-content: center;
}

.flex p {
    color: white;
    font-size: 15px;
}

.flex .heading {
    font-size: 30px;
    margin-top: 20px;
}

.flex .sub {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: lightgray;
}

.flex hr {
    margin: 10px;
}

.flex a {
    display: block;
    width: 450px;
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.flex a .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    transition: all 0.2s;
}

.flex a:hover .overlay {
    opacity: 0.5;
}

.flex a .click {
    color: #FFF;
    position: relative;
    z-index: 3;
    opacity: 0;
    transition: all 0.2s;
    text-decoration: none;
}

.flex a:hover .click {
    opacity: 3;
}

.box {
    margin-left: 25px;
    margin-right: 25px;
}




/* +++++++++++++++++++++++++++++++ MEDIA +++++++++++++++++++++++++++++++ */



@media only all and (max-width: 1631px) {
    div.panel.show{
      max-height: 8000px;
    }
    
    .flex .sub {
        font-size: 17px;
    }
}

@media only all and (max-width: 1500px) {
    .subtext {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media only all and (max-width: 1130px) {
    .flex .sub {
        font-size: 19px;
    }
}

@media only all and (max-width: 1000px) {
    .subtext {
        font-size: 14px;
    }
    
    .flex a {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only all and (max-width: 1024px){
    .flex {
        box-sizing: border-box;
    }
}

@media only all and (max-width: 840px) {
    .opener hr {
        margin-top: 60px;
    }
}

@media only all and (max-width: 650px){
    .content {
        max-width: calc(100% - 70px);
    }
    
    .title {
        font-size: 40px;
    }
    
    .subtext {
        font-size: 12px;
    }
    
    .flex a {
        width: 350px;
        height: 220px;
    }
    
    .flex .heading {
        font-size: 25px;
    }
    
    .flex .sub {
        font-size: 15px;
    }
    
    .subtext {
        font-size: 13px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only all and (max-width: 520px){
    .content {
        max-width: calc(100% - 40px);
    }
    
    .flex a {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 170px;
    }
    
    .flex .heading {
        font-size: 23px;
    }
    
    .flex .sub {
        font-size: 13px;
    }
    
    .subtext {
        font-size: 10px;
        margin-left: 60px;
        margin-right: 60px;
    }
}
